@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Professor @ViewData["progessor"]</p>

<address>

    <strong>More information </strong> <a href="http://educandoweb.com.br">EducandoWeb.com.br</a>

</address>